@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@font-face {
    font-family: jazztext;
    src: url(/fonts/jazztext.ttf) format("embedded-opentype"), url(/fonts/jazztext.woff) format("woff"), url(/fonts/jazztext.ttf) format("truetype"), url(/fonts/jazztext.svg) format("svg");
}

body section {
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.button {
    font-family: jazztext;
    align-self: center;
    background: transparent;
    margin: 0.2rem;
    height: 5rem;
    width: 5rem;
    color: #F25D50;
    font-size: 2.8rem;
    letter-spacing: 1px;
    outline: none;
    border-color: #F27B50;
    border-width: 3px;
    border-style: solid;
    border-radius: 6px;
}

.button2 {
    font-family: jazztext;
    align-self: center;
    background: transparent;
    margin: 0.2rem;
    height: 5rem;
    width: 5rem;
    color: #F25D50;
    font-size: 2.8rem;
    letter-spacing: 1px;
    outline: none;
    border-color: #F27B50;
    border-width: 3px;
    border-style: dashed;
    border-radius: 6px;
}

h1 {
    font-family: jazztext;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.description {
    font-family: 'Noto Sans TC', sans-serif;
    width: 55%;
    float: left;
    margin-left: 5%;
    text-indent: 32.5px;
}

.note {
    font-family: 'Noto Sans TC', sans-serif;
    width: 35%;
    float: right;
    text-align: right;
    margin-right: 5%;
}