@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@font-face {
    font-family: jazztext;
    src: url(https://googledrive.com/host/0B-toP2rHOMSPYzRtVGRodTE1Nlk) format("embedded-opentype"), url(https://googledrive.com/host/0B-toP2rHOMSPdm5Kd0EzejlUb2s) format("woff"), url(https://googledrive.com/host/0B-toP2rHOMSPNGdfTHprT3cxem8) format("truetype"), url(https://googledrive.com/host/0B-toP2rHOMSPUFJYMTBoTDA5azQ) format("svg");
}

body section {
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.button {
    font-family: jazztext;
    align-self: center;
    background: transparent;
    margin: 0.2rem;
    height: 5rem;
    width: 5rem;
    color: #F25D50;
    font-size: 2.8rem;
    letter-spacing: 1px;
    outline: none;
    border-color: #F27B50;
    border-width: 3.5px;
    border-style: solid;
    border-radius: 6px;
}

.button2 {
    font-family: jazztext;
    align-self: center;
    background: transparent;
    margin: 0.2rem;
    height: 5rem;
    width: 5rem;
    color: #F25D50;
    font-size: 2.8rem;
    letter-spacing: 1px;
    outline: none;
    border-color: #F27B50;
    border-width: 3.5px;
    border-style: dashed;
    border-radius: 6px;
}

h1 {
    font-family: jazztext;
    font-size: 60px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.description {
    font-family: 'Noto Sans TC', sans-serif;
    width: 60%;
    float: left;
    margin-left: 5%;
    margin-top: 2.5%;
    text-indent: 32.5px;
}

.note {
    font-family: 'Noto Sans TC', sans-serif;
    width: 30%;
    float: right;
    text-align: right;
    margin-right: 5%;
    line-height: 8px;
}

.alert {
    font-family: 'Noto Sans TC', sans-serif;
    float: right;
    margin-top: 4%;
    margin-right: 5%;
    padding: 0 20px 0 8px;
    background-color: #FFCB0D;
    border-style: solid;
    border-color: #DF3D03;
    border-radius: 10px;
}